.route-link {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
.cardi a:hover {
  text-decoration: none;
  color: #6c63ff;
  font-size: 3rem;
}
.title {
  font-size: 40px;
}
.car {
  margin-bottom: 30px;
  height: 280px;
}

.car p {
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .car p {
    font-size: 1rem;
  }
  .car {
    margin-bottom: 20px;
    height: 150px;
  }
  .car h1 {
    font-size: 1.5rem;
  }
}
